@font-face {
  font-family: charter;
  src: url(../media/charter.ttf);
}

@font-face {
  font-family: charter;
  src: url(../media/charter-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url(../media/charter-italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: gentium;
  src: url(../media/gentium.ttf);
}

@font-face {
  font-family: gentium;
  src: url(../media/gentium-italic.ttf);
  font-style: italic;
}

body {
  width: 56ch;
  margin: 50px;
  background: #fafafa;
  font: 18px gentium;
  color: #222;
  line-height: 112.5%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #4b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0.25em 1em;
  padding: 0;
  font-size: 81.25%;
}

li::before {
  content: "\00b7";
  position: relative;
  font-size: 32px;
  top: 6px;
  margin-right: 0.25em;
  line-height: 0;
}

#foot {
  margin-top: 4em;
  font-size: 75%;
}

.block {
  margin: 1em 0;
}

.box {
  width: 87.5%;
  padding: 15px;
  border: 1px #aaa solid;
  background: #efefef;
  font-size: 87.5%;
  margin-left: 0.5em;
}

.box p:first-child {
  margin-top: 0;
}

.box p:last-child {
  margin-bottom: 0;
}

.ct {
  font-variant: small-caps;
  text-decoration: underline;
}

.thin {
  word-spacing: -0.125em;
}
